[submodule ".tmux/plugins/vim-tmux-navigator"]
	path = .tmux/plugins/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator
[submodule ".tmux/plugins/tmux-themepack"]
	path = .tmux/plugins/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack
[submodule ".vim/bundle/vim-virtualenv"]
	path = .vim/bundle/vim-virtualenv
	url = git@github.com:jmcantrell/vim-virtualenv
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:ycm-core/YouCompleteMe.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
[submodule ".vim/bundle/vim-snippets"]
	path = .vim/bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule ".vim/bundle/django-plus.vim"]
	path = .vim/bundle/django-plus.vim
	url = git@github.com:tweekmonster/django-plus.vim.git
[submodule ".vim/bundle/draft.vim"]
	path = .vim/bundle/draft.vim
	url = git@github.com:JakeRoggenbuck/draft.vim.git
